In [35]:
import pandas as pd
import numpy as np

In [36]:
results=pd.read_csv("car_prices.csv")
results.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [37]:
results.isnull().sum().sort_values(ascending = False)

transmission    65352
body            13195
condition       11820
trim            10651
model           10399
make            10301
color             749
interior          749
odometer           94
mmr                38
sellingprice       12
saledate           12
vin                 4
year                0
state               0
seller              0
dtype: int64

In [38]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          548536 non-null  object
 2   model         548438 non-null  object
 3   trim          548186 non-null  object
 4   body          545642 non-null  object
 5   transmission  493485 non-null  object
 6   vin           558833 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558088 non-null  object
 11  interior      558088 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558825 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [44]:
# Add 'trim' to the list of object columns
object_columns = ['transmission', 'body', 'model','trim', 'make', 'color', 'interior', 'saledate', 'vin']

# Replace missing values in these columns with the most frequent value of each column
for col in object_columns:
    most_frequent = results[col].mode()[0]  # mode() returns a Series, [0] gets the most frequent element
    results[col] = results[col].fillna(most_frequent)  # Direct assignment avoids the FutureWarning

print(results)

        year    make                model         trim       body  \
0       2015     Kia              Sorento           LX        SUV
1       2015     Kia              Sorento           LX        SUV
2       2014     BMW             3 Series   328i SULEV      Sedan
3       2015   Volvo                  S60           T5      Sedan
4       2014     BMW  6 Series Gran Coupe         650i      Sedan
...      ...     ...                  ...          ...        ...
558832  2015     Kia                 K900       Luxury      Sedan
558833  2012     Ram                 2500  Power Wagon   Crew Cab
558834  2012     BMW                   X5    xDrive35d        SUV
558835  2015  Nissan               Altima        2.5 S      sedan
558836  2014    Ford                F-150          XLT  SuperCrew

       transmission                vin state  condition  odometer   color  \
0         automatic  5xyktca69fg566472    ca        5.0   16639.0   white
1         automatic  5xyktca69fg561319    ca        5.0    9393.0   white
2         automatic  wba3c1c51ek116351    ca       45.0    1331.0    gray
3         automatic  yv1612tb4f1310987    ca       41.0   14282.0   white
4         automatic  wba6b2c57ed129731    ca       43.0    2641.0    gray
...             ...                ...   ...        ...       ...     ...
558832    automatic  knalw4d4xf6019304    in       45.0   18255.0  silver
558833    automatic  3c6td5et6cg112407    wa        5.0   54393.0   white
558834    automatic  5uxzw0c58cl668465    ca       48.0   50561.0   black
558835    automatic  1n4al3ap0fc216050    ga       38.0   16658.0   white
558836    automatic  1ftfw1et2eke87277    ca       34.0   15008.0    gray

       interior                                             seller      mmr  \
0         black                            kia motors america  inc  20500.0
1         beige                            kia motors america  inc  20800.0
2         black             financial services remarketing (lease)  31900.0
3         black                            volvo na rep/world omni  27500.0
4         black             financial services remarketing (lease)  66000.0
...         ...                                                ...      ...
558832    black                                   avis corporation  35300.0
558833    black                                    i -5 uhlmann rv  30200.0
558834    black             financial services remarketing (lease)  29800.0
558835    black  enterprise vehicle exchange / tra / rental / t...  15100.0
558836     gray                   ford motor credit company llc pd  29600.0

        sellingprice                                 saledate
0            21500.0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1            21500.0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2            30000.0  Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3            27750.0  Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4            67000.0  Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...              ...                                      ...
558832       33000.0  Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833       30800.0  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834       34000.0  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835       11100.0  Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836       26700.0  Thu May 28 2015 05:30:00 GMT-0700 (PDT)

[558837 rows x 16 columns]

In [45]:
results.isnull().sum().sort_values(ascending = False)

condition       11820
odometer           94
mmr                38
sellingprice       12
year                0
make                0
model               0
trim                0
body                0
transmission        0
vin                 0
state               0
color               0
interior            0
seller              0
saledate            0
dtype: int64

In [8]:
# Calculate the Median price
median_price = results['condition'].median()

# Use recommended approach to avoid chained assignment
results['condition'] = results['condition'].fillna(median_price)

In [9]:
median_price = results['odometer'].median()

# Use recommended approach to avoid chained assignment
results['odometer'] = results['odometer'].fillna(median_price)

In [10]:
median_price = results['mmr'].median()

# Use recommended approach to avoid chained assignment
results['mmr'] = results['mmr'].fillna(median_price)

In [11]:
median_price = results['sellingprice'].median()

# Use recommended approach to avoid chained assignment
results['sellingprice'] = results['sellingprice'].fillna(median_price)

In [53]:
results.isnull().sum().sort_values(ascending = False)

condition       11820
odometer           94
mmr                38
sellingprice       12
year                0
make                0
model               0
trim                0
body                0
transmission        0
vin                 0
state               0
color               0
interior            0
seller              0
saledate            0
dtype: int64

In [49]:
results.columns

Index(['year', 'make', 'model', 'trim', 'body', 'transmission', 'vin', 'state',
       'condition', 'odometer', 'color', 'interior', 'seller', 'mmr',
       'sellingprice', 'saledate'],
      dtype='object')

In [48]:
results.head()

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,mmr,sellingprice,saledate
0,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg566472,ca,5.0,16639.0,white,black,kia motors america inc,20500.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,5xyktca69fg561319,ca,5.0,9393.0,white,beige,kia motors america inc,20800.0,21500.0,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,wba3c1c51ek116351,ca,45.0,1331.0,gray,black,financial services remarketing (lease),31900.0,30000.0,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,yv1612tb4f1310987,ca,41.0,14282.0,white,black,volvo na rep/world omni,27500.0,27750.0,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,wba6b2c57ed129731,ca,43.0,2641.0,gray,black,financial services remarketing (lease),66000.0,67000.0,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)

In [50]:
results.shape

(558837, 16)

In [52]:
results.isna().sum()

year                0
make                0
model               0
trim                0
body                0
transmission        0
vin                 0
state               0
condition       11820
odometer           94
color               0
interior            0
seller              0
mmr                38
sellingprice       12
saledate            0
dtype: int64

In [54]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558837 entries, 0 to 558836
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          558837 non-null  int64
 1   make          558837 non-null  object
 2   model         558837 non-null  object
 3   trim          558837 non-null  object
 4   body          558837 non-null  object
 5   transmission  558837 non-null  object
 6   vin           558837 non-null  object
 7   state         558837 non-null  object
 8   condition     547017 non-null  float64
 9   odometer      558743 non-null  float64
 10  color         558837 non-null  object
 11  interior      558837 non-null  object
 12  seller        558837 non-null  object
 13  mmr           558799 non-null  float64
 14  sellingprice  558825 non-null  float64
 15  saledate      558837 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 68.2+ MB

In [55]:
results.to_csv('cleaningdata.csv', index=False)